<base href="/" />
<meta charset="UTF-8">
<meta name="viewport" content="width-device-width, initial-scale=1, shrink-to-fit=no">

<!--Bootstrap-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">


<link rel="stylesheet" type="text/css" href="/static/base.css" th:href="@{/base.css}"/>

<link rel="stylesheet" type="text/css" href="/static/css/user/signup.css" th:href="@{/css/user/signup.css}"/>

<link rel="stylesheet" type="text/css" href="/static/css/user/header.css" th:href="@{/css/user/header.css}"/>

<link rel="stylesheet" type="text/css" href="/static/css/user/hello.css" th:href="@{/css/user/hello.css}"/>

<link rel="stylesheet" type="text/css" href="/static/css/user/login.css" th:href="@{/css/user/login.css}"/>

<!-- Google Material icons-->
<link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

<!-- JQuery -->
<script
src="https://code.jquery.com/jquery-3.4.1.js"
integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
crossorigin="anonymous">
</script>
